<!-- Header partials-->
<nav class="nav-extended teal">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">DLC TRACKER</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <!-- Modal Trigger -->
    <li><a class="waves-effect waves-light btn" href="#">Dashboard</a></li>
    <li><a class="waves-effect waves-light btn" href="logout.ejs">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    <li><a class="waves-effect waves-light btn" href="#">Dashboard</a></li>
    <li><a class="waves-effect waves-light btn" href="logout.ejs">Logout</a></li>
    </ul>
  </div>

  <!-- Navigation content-->
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
    <li class="tab"><a href="index.html">Home</a></li>
    <li class="tab"><a href="programs.html">Programs</a></li>
    </ul>
  </div>
</nav>