<html>
  <head> 
    <title>DLC Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!--<script src="../public/js/index.js"></script>
    <script src="../public/js/register.js"></script>-->
  </head>

  <!-- Body section -->
  <body>
    <!-- Slider -->
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="/img/School_girls_learning_on_a_computer.jpg">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            <a href="login.ejs" class="waves-effect waves-light btn">Click here to learn more...</a>
          </div>
        </li>
        <li>
          <img src="/img/ericsson-connect-to-learn.jpg">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            <a href="login.ejs" class="waves-effect waves-light btn">Click here to learn more...</a>
          </div>
        </li>
        <li>
          <img src="/img/andela-developers.jpg">
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            <a href="login.ejs" class="waves-effect waves-light btn">Click here to learn more...</a>
          </div>
        </li>
        <li>
          <img src="/img/prep_tutor.jpg">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            <a href="login.ejs" class="waves-effect waves-light btn">Click here to learn more...</a>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>