#profile-page-header .card-image {
    height: 250px;
}
#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}
.dark-blue {
	background-color:teal;
}
#profile-card .card-image {
    height: 150px;
}
#profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 80px;
    z-index: 1;
    cursor: pointer;
}
.progress {
    position: relative;
    height: 25px;
    display: block;
    color: #fff;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
    text-align: center;
}
.click-card:hover {
    cursor: pointer;
}

#pencil {
    margin-left: 400px;
}
#dropdown1 {
    width: 150%;
    position: relative;
}
.material-icons {
    font-family: 'Material Icons';
    margin-top:30;
    font-weight: ;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
}

div.modal-content {
    color: black;
    align-content: right 80px;
}